<!--Pestaña "General" la cual se usa para crear una tabla con la información correspondiente-->
<div class="container">
    <div class="modal-header">
        <h4 class="modal-title"><fa-icon id="iconEliminar" [icon]="iconPermisos"></fa-icon>  Permisos</h4>
    </div>

    <div class="modal-body">
        <div class="campos-form">
            <form>
                <formly-form [model]="modelPermisos" [fields]="fieldsPermisos" [options]="optionsPermisos" [form]="formPermisos">
                </formly-form>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button (click)="modal.dismissAll()" class="btn btn-danger" type="button">Cancelar  <fa-icon id="iconEliminar" [icon]="iconCancelar"></fa-icon></button>
        <button (click)="asignarPermisos()" class="btn btn-success" type="button">Aceptar  <fa-icon id="iconEliminar" [icon]="iconAceptar"></fa-icon></button>
    </div>
</div>
