.contenedor-texto{
    height: 10vh;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contenedor-tabla{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    margin-bottom: 30px;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn{
    width: 40%;
    border-radius: 10px;
}

form .search{
    width: 70%;
    justify-self: end;
    border-radius: 10px;
}

.acciones button{
    width: 27%;
    margin-right: 20px;
}

fa-icon{
    margin-right: 20px;
    font-size: 20px;
}

fa-icon:hover{
    cursor: pointer;
}


#iconVerDetalles{
    color: #2271b3;
}

#iconEditar{
    color: #4eb14e;
}

#iconPermisos{
    color: #F4A020;
}

#iconEliminar{
    color: red;
}